body {
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.8em;
    width: 100%;
    /* Ahora ocupa todo el ancho de la página */
}


#container {
    display: flex;
    /* Utilizamos Flexbox para la disposición de los elementos */
    text-align: center;
    margin: 0 auto;
}

#post {
    /* Agrega estilos adicionales según tus necesidades */
}


#menulateral {
    flex: 1;
    /* Tercio izquierdo */
    background: #f2f2f2;
    padding: 1em;
    list-style: none;
    margin: 0;
}


#menulateral a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#menulateral li {
    margin-bottom: 10px;
}


#contenido {
    flex: 2;
    /* Dos tercios derecho */
    padding: 1cm;
    text-align: center;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}